/*
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
*/
body {
    font-family: "Open Sans", Arial;
}
#main_content {
    border: 1px solid #6c757d;
    border-radius: 20px;
    margin: 15px auto;
    padding: 0 15px;
}
#main_content #stats {
    border-left: 1px solid #6c757d;
    padding: 15px 10px;
}
#main_content #content {
    padding: 15px 10px;
    min-height: 300px;
}
#main_content #quizz_title {
    border-bottom: 1px solid #6c757d;
    padding-bottom: 15px;
}
#main_content #quizz_question {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #6c757d;
    margin-bottom:20px;
}
#main_content #quizz_controls {
    border-top: 1px solid #6c757d;
    padding-top: 20px;
    margin-top:20px;
}
#main_content #ask_user_name {
    margin: 10px 0;
}
.bg-dark a.dropdown-item {
    color: #fff;
}
.bg-dark .dropdown-item:focus, .bg-dark .dropdown-item:hover {
    background-color: #343a40;
}
#toggle_git,
#toggle_log {
    position: fixed;
    bottom: 0;
    right: 0;
}
#toggle_git {
    right: 45px;
}
.answer_right {
    color: #28a745;
}
.answer_wrong {
    color: #dc3545;
}
#quizz_controls #check_question {
    margin-left: 10px;
}
#question_admin_list table th.tbl_row_1 {
    width: 22px;
}
#question_admin_list table th.tbl_row_2 {
     width: 50px;
}
#question_admin_list table td.tbl_row_2 {
    text-align: right;
}
#question_admin_list table th.tbl_row_4 {
    width: 140px;
}
#question_admin_list table th.tbl_row_5 {
    width: 90px;
}
#question_form .question_form_row > label,
#question_form .answer_row > label {
    width: 20%;
    display: inline-block;
    text-align: right;
}
#question_form .question_form_row > div,
#question_form .answer_row > div{
    width: 75%;
    display: inline-block;
}
#question_form .question_form_row #question_text,
#question_form .question_form_row #moreinfo,
#question_form .question_form_row #question_title,
#question_form .answer_row input[type="text"] {
    width: 80%;
}

#question_form label.has_error {
    border-color: #dc3545;
    border-style: solid;
    border-width: 1px;
    color: #dc3545;
}

#question_form #question_form_info_text {
    font-size: 12px;
    margin-bottom: 10px;
    font-weight: 600;
    color: #17a2b8;
}

#question_form_controls {
    text-align: center;
    margin: 10px 0;
}
@media (max-width: 1199px) {
    #toggle_git, #toggle_log {
        position: relative;
        bottom: unset;
        right: unset;
        float:right;
        margin-right: 10px;
    }
}
@media (max-width: 991px) {

}

@media (max-width: 767px) {
    #main_content #stats {
        border-top: 1px solid #6c757d;
        border-left: 0;
    }
    #main_content {
        width: 96%;
    }

    #ask_user_name button,
    #quizz_controls button {
        display: block;
        width: 100%;
        margin-top: 10px;
    }
    #question_btn_group button{
        display: block;
        width: 100%;
        margin-bottom: 5px;
    }
}

@media (max-width: 575px) {
    .btn-group.btn-group-justified > button.btn {
        display: block;
        width: 100%;
    }
}
