<section id="content" class="col-md-12 col-sm-12">
    <div id="question_admin_control">
        <div id="question_btn_group">
            <button id="add_question" type="button" class="btn btn-primary">Frage hinzufügen</button>
            <button id="show_removed" type="button" class="btn btn-danger">Entfernte Fragen</button>
            <button id="show_stats" type="button" class="btn btn-secondary">Statistiken</button>
            <button id="show_errors" type="button" class="btn btn-secondary disabled">Gemeldete Fragen</button>
        </div>
    </div>
    <div id="question_admin_filter">
        {question_filter}
    </div>
    <div id="question_admin_list">
        {question_list}
    </div>
    <div id="question_admin_list_controls" class="d-none">
        <button id="select_all" class="btn btn-outline-info">Alle Markieren</button>
    </div>
</section>