<section id="content" class="col-md-8 col-sm-12">
    <div id="quizz_title" class="col-12">{title}</div>
    <div id="quizz_question" class="col-12">{question}</div>
    <div id="quizz_answers" class="col-12">
        {answers}
    </div>
    <div class="d-none">
        <input type="hidden" id="area" value="{area}">
        <input type="hidden" id="qtype" value="{type}">
        <input type="hidden" id="question_id" value="{id}">
    </div>
    <div id="quizz_controls" class="col-12">
        <button type="button" id="check_question" class="btn btn-success float-right">Antwort abgeben</button>
        <button type="button" id="next_question" class="btn btn-primary float-right">Nächste Frage</button>
        <button type="button" class="btn btn-info d-none">Hinweis</button>
    </div>
</section>